<div class="card">
  <div class="card-header">
    <h4 class="float-left">Cars Makes</h4>
    <a class="btn btn-outline-primary float-right" routerLink="/cars/makes/add">Add Makes</a>

  </div>
  <div class="card-body">

    <div class="row" style="font-weight: bold">
      <div class="col-md-2">Id</div>
      <div class="col-md-4">Makes</div>
      <div class="col-md-2">Details</div>
      <div class="col-md-2">Update</div>
      <div class="col-md-2">Delete</div>
    </div>
    <hr/>
    <div *ngFor="let make of carMakes; let i = index">
      <div class="row">
        <div class="col-md-2">{{make.id}}</div>
        <div class="col-md-4">{{make.name}}</div>
        <div class="col-md-2">
          <a class="btn btn-primary" style="margin: 1px;" routerLink="{{'/cars/makes/details/' + make.id}}">Details</a>
        </div>
        <div class="col-md-2">
          <a class="btn btn-success" style="margin: 1px;" routerLink="{{'/cars/makes/update/' + make.id}}">Update</a>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger" type="button" style="margin: 1px;" (click)="submitDeletedCar(i)">Delete</button>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>


