<div class="container-fluid">

  <div class="row justify-content-center">
    <h3 class="omb_authTitle">Login or <a [routerLink]="['/singUp']">Sign up</a></h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-xl-8">
      <div class="alert alert-danger" *ngIf="errorMessage">
        <strong>{{errorMessage}}</strong>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-xl-8">

      <form name="form" role="form" (ngSubmit)="logIn()" #loginForm="ngForm">
        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input type="text" class="form-control" [(ngModel)]="account.email" id="email" name="email"
                 #email="ngModel" placeholder="Enter email" minlength=4 maxlength=50 required>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" #password="ngModel"
                 placeholder="Enter password" minlength=2 maxlength=50
                 [(ngModel)]="account.password" required>
        </div>

        <a [routerLink]="['/recovery']">Forgot password?</a>
        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block btn-login"
               [disabled]="loginForm.form.invalid"/>
      </form>
    </div>
  </div>
</div>
<!--<button class="btn btn-danger" (click)="socialSignIn('google')">Sign in with Google</button>-->
