<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 mr-v-5">
      <h2 style="float: left">Advertisements</h2>
    </div>
    <div class="col-md-12 mr-v-5" *ngFor="let ad of ads">
      <app-ad-card [ad]="ad"></app-ad-card>
    </div>
  </div>
</div>
