<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/icons/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Cargo Trans
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="getLoginStatus()">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/myPage">Your profile</a>
          <a class="dropdown-item" *ngIf="!isDriver()" routerLink="/drivers/stay">Stay a driver</a>
          <a class="dropdown-item" routerLink="/ads/create">Add advert</a>
          <a class="dropdown-item" *ngIf="accountService.hasAdminRole()" routerLink="/cars/makes">Makes Table</a>
          <div class="dropdown-divider"></div>
          <a class="btn btn-primary dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="/ads">Advertisements</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
    <ul class="navbar-nav mx-3 my-lg-0">
      <!--<a class="btn btn-outline-primary mr-sm-2" >{{user.name}}</a>-->
      <!--<a class="btn btn-outline-success mr-sm-2" routerLink="/drivers/stay">Stay a driver</a>-->
      <!--<a class="btn btn-outline-success" routerLink="/ads/create">Add advert</a>-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    </ul>
  </div>
</nav>
