<div class="container-fluid">

  <div class="row justify-content-center">
    <h3>Sing up or <a [routerLink]="['/login']">Login</a></h3>
  </div>

  <div class="row justify-content-center" *ngIf="hasErrors">
    <div class="col-sm-12 col-xl-8">
      <div class="alert alert-danger">
        <strong>{{error}}</strong>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-xl-8">

      <form name="form" role="form" (ngSubmit)="registrate()" #loginForm="ngForm">
        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email"  [(ngModel)]="account.email"
                 #email="ngModel" placeholder="Enter your email" minlength=5 maxlength=100
                 required>
          <div *ngIf="email.dirty && email.errors">
            <small class="form-text text-danger"  *ngIf="email.errors.pattern">
              Your email must be in format: mail@example.com
            </small>
          </div>
          <div *ngIf="email.dirty && email.invalid">
            <small class="form-text text-danger" *ngIf="email.errors.required">
              Your email is required.
            </small>

            <small class="form-text text-danger" *ngIf="email.errors.minlength">
              Your email is required to be at least 5 characters.
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.maxlength">
              Your email cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="account.name" id="name" name="name"
                 #name="ngModel" placeholder="Enter your name"
                 minlength="4" maxlength="254" pattern="^[ _A-Za-z0-9-]*$" required>
          <div *ngIf="name.dirty && name.invalid">
            <small class="form-text text-danger" *ngIf="name.errors.required">
              Your username is required.
            </small>
            <small class="form-text text-danger" *ngIf="name.errors.minlength">
              Your username is required to be at least 4 character.
            </small>
            <small class="form-text text-danger" *ngIf="name.errors.maxlength">
              Your username cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="name.errors.pattern">
              Your username can only contain letters and digits.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="lastName">Last name</label>
          <input type="text" class="form-control" [(ngModel)]="account.lastName" id="lastName" name="lastName"
                 #lastName="ngModel" placeholder="Enter your last name"
                 minlength="4" maxlength="254" pattern="^[ _A-Za-z0-9-]*$" required>
          <div *ngIf="lastName.dirty && lastName.invalid">
            <small class="form-text text-danger" *ngIf="lastName.errors.required">
              Your username is required.
            </small>
            <small class="form-text text-danger" *ngIf="lastName.errors.minlength">
              Your username is required to be at least 4 character.
            </small>
            <small class="form-text text-danger" *ngIf="lastName.errors.maxlength">
              Your username cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="lastName.errors.pattern">
              Your username can only contain letters and digits.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" #password="ngModel"
                 placeholder="password" [(ngModel)]="account.password" minlength=6 maxlength=50
                 pattern="^[_.@A-Za-z0-9-]*$" required>
          <div *ngIf="password.dirty && password.invalid">
            <small class="form-text text-danger" *ngIf="password.errors.required">
              Your password is required.
            </small>
            <small class="form-text text-danger" *ngIf="password.errors.minlength">
              Your password is required to be at least 6 characters.
            </small>
            <small class="form-text text-danger" *ngIf="password.errors.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </div>
        </div>


        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">Password confirmation</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPasswordInput"
                 #confirmPasswordInput="ngModel" placeholder="confirm"
                 [(ngModel)]="confirmPassword" minlength=6 maxlength=50 pattern="^[_.@A-Za-z0-9-]*$" required>
          <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
              Your confirmation password is required.
            </small>
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
              Your confirmation password is required to be at least 6 characters.
            </small>
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
              Your confirmation password cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [checked]="account.isDriver"
                   (change)="account.isDriver = !account.isDriver" id="isDriver">
            <label class="form-check-label" for="isDriver">
              You are driver
            </label>
          </div>
        </div>

        <div *ngIf="account.isDriver">
          <!--birthday: Date-->
          <div class="form-group">
            <label class="" [for]="Birthday">Birthday</label>
            <input type="date"
                   class="form-control" name="Birthday"
                   [max]="todayDate | date:'yyyy-MM-dd'"
                   #Birthday
                   [ngModel]="account.birthday | date:'yyyy-MM-dd'"
                   (ngModelChange)="setBirthday($event)" required>
          </div>

          <div class="form-group" *ngIf="(Birthday.dirty && Birthday.invalid) || isInvalidBirthday()">
            <div class="alert alert-danger" *ngIf="(Birthday.dirty && Birthday.invalid) &&
                          Birthday.errors.required">
              Birthday is required.
            </div>
            <div class="alert alert-danger" *ngIf="isInvalidBirthday()">
              Driver cannot be younger than 18.
            </div>
          </div>


          <!--description: string-->
          <div class="form-group">
            <label [for]="description">Description</label>
            <textarea class="form-control" rows="4"
                      [(ngModel)]="account.description"
                      id="description"
                      #description="ngModel" maxlength="2047"
                      name="description"></textarea>
          </div>

          <div class="form-group" *ngIf="description.dirty && description.invalid">
            <div class="alert alert-danger">
              Description can not be longer than 2047 characters.
            </div>
          </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block btn-login" type="submit" [disabled]="loginForm.invalid">Sing Up</button>
      </form>
    </div>
  </div>
</div>
