<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-md-8">
      <form class="createForm" name="form" role="form" (ngSubmit)="create()" #createForm="ngForm">
        <h1>Create advertisement</h1>

        <!--name-->
        <div class="form-group">
          <label [for]="name">Name</label>
          <input type="text" class="form-control" name="name"
                 placeholder="Transportation of concrete" [(ngModel)]="newAd.name"
                 #name="ngModel" minlength="2" maxlength="50"
                 pattern="^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$" required>
        </div>

        <div class="form-group" *ngIf="name.dirty && name.invalid">
          <div  class="alert alert-danger" role="alert" *ngIf="name.errors.required">
            Advertisement name is required.
          </div >
          <div  class="alert alert-danger" role="alert" *ngIf="name.errors.minlength">
            Advertisement name is required to be at least 4 character.
          </div >
          <div  class="alert alert-danger" role="alert" *ngIf="name.errors.maxlength">
            Advertisement name cannot be longer than 50 characters.
          </div >
          <div  class="alert alert-danger" role="alert" *ngIf="name.errors.pattern">
            Advertisement name can only contain letters and digits.
          </div >
        </div>

        <!--Dates-->

        <div class="form-group">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-md-6" style="margin-left: 0; padding-left: 0;">
                <!--orientedDateFrom-->
                <label [for]="OrientedDateFrom">Oriented date from</label>
                <input type="date"
                       class="form-control" name="OrientedDateFrom"
                       [min]="todayDate | date:'yyyy-MM-dd'"
                       #OrientedDateFrom
                       [ngModel]="newAd.orientedDateFrom | date:'yyyy-MM-dd'"
                       (ngModelChange)="setOrientedDateFrom($event)" required>
              </div>
              <div class="col-md-6" style="margin-right: 0; padding-right: 0;">
                <!--orientedDateTo-->
                <label [for]="OrientedDateTo">Oriented date to</label>
                <input type="date"
                       class="form-control" name="OrientedDateTo"
                       #OrientedDateTo
                       [ngModel]="newAd.orientedDateTo | date:'yyyy-MM-dd'"
                       (ngModelChange)="setOrientedDateTo($event)"
                       [min]="newAd.orientedDateFrom | date:'yyyy-MM-dd'" required>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="(OrientedDateFrom.dirty && OrientedDateFrom.invalid) ||
                    (OrientedDateTo.dirty && OrientedDateTo.invalid) ||
                    isInvalidOrientedDateFrom() || isInvalidOrientedDateTo()">
          <div class="alert alert-danger" *ngIf="(OrientedDateFrom.dirty && OrientedDateFrom.invalid) &&
                          OrientedDateFrom.errors.required">
            Advertisement 'oriented date from' is required.
          </div>
          <div class="alert alert-danger" *ngIf="isInvalidOrientedDateFrom()">
            Advertisement 'oriented date to' cannot be earlier than today.
          </div>
          <div class="alert alert-danger" *ngIf="(OrientedDateTo.dirty && OrientedDateTo.invalid) &&
                          OrientedDateTo.errors.required">
            Advertisement 'oriented date to' is required.
          </div>
          <div class="alert alert-danger" *ngIf="isInvalidOrientedDateTo()">
            Advertisement 'oriented date to' cannot be earlier than 'oriented date to'.
          </div>
        </div>

        <!--cargoVolume-->
        <div class="form-group">
          <label for="CargoVolume">Volume of cargo</label>
          <input type="number" class="form-control" id="CargoVolume" [min]="1"
                 #CargoVolume="ngModel" name="CargoVolume" [(ngModel)]="newAd.cargoVolume">
        </div>

        <div class="form-group" *ngIf="isInvalidVolume()">
          <div class="alert alert-danger" *ngIf="newAd.cargoVolume < 1">
            Volume can not be less than 1.
          </div>
          <div class="alert alert-danger" *ngIf="newAd.cargoVolume == null">
            Volume can only contain digits and '.'(for example 64, 28.3)
          </div>
        </div>

        <!--public description: string;-->
        <div class="form-group">
          <label [for]="description">Description</label>
          <textarea class="form-control" rows="4"
                    [(ngModel)]="newAd.description"
                    #description="ngModel" maxlength="2047"
                    name="Description"></textarea>
        </div>

        <div class="form-group" *ngIf="description.dirty && description.invalid">
          <div class="alert alert-danger" *ngIf="description.errors.maxlength">
            Description can not be longer than 2047 characters.
          </div>
        </div>


        <!-- startPoint -->
        <div class="form-group">
          <form (ngSubmit)="searchCoordinates()">
            <div class="input-group">
                <input class="form-control" type="text" [(ngModel)]="newAd.startPoint.name" [ngModelOptions]="{standalone: true}"
                       placeholder="From place name ..." required>
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Show start point</button>
              </div>
            </div>
          </form>
        </div>

        <!-- endPoint -->
        <div class="form-group">
          <form (ngSubmit)="searchCoordinates(false)">
            <div class="input-group">
              <input class="form-control" type="text" [(ngModel)]="newAd.endPoint.name" [ngModelOptions]="{standalone: true}"
                     placeholder="To place name ..." required>
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Show end point</button>
              </div>
            </div>
          </form>
        </div>

        <div class="form-group" *ngIf="distance !== -1">
          <div class="alert alert-success">Distance: {{distance}}km</div>
        </div>

        <div class="form-group">
          <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false"
            (mapClick)="mapClicked($event)">

            <agm-marker
              [latitude]="newAd.startPoint?.latitude"
              [longitude]="newAd.startPoint?.longitude"
              [label]="newAd.startPoint?.label"
              [markerDraggable]="true"
              (dragEnd)="markerDragEnd(newAd.startPoint, $event)">
            </agm-marker>

            <agm-marker
              [latitude]="newAd.endPoint?.latitude"
              [longitude]="newAd.endPoint?.longitude"
              [label]="newAd.endPoint?.label"
              [markerDraggable]="true"
              (dragEnd)="markerDragEnd(newAd.endPoint, $event)">
            </agm-marker>

          </agm-map>
        </div>

        <input type="submit" value="Create" class="btn btn-lg btn-primary btn-block btn-login"
               [disabled]="createForm.form.invalid || isInvalidOrientedDateTo() || isInvalidOrientedDateFrom() || isInvalidVolume()">
      </form>
    </div>
  </div>
</div>
