.modal {
  text-align: center;
  padding: 0!important;
  background-color: rgba(0,0,0,0.6);
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 500pt;
}

.modal-body {
  max-height: 75%;
  overflow-y: scroll;
}

