<div class="card">
  <div class="card-header">
    <h4 class="float-left">Advertisements</h4>
    <button class="btn btn-outline-primary float-right" routerLink="/ads/create">Add Advertisement</button>

  </div>
  <div class="card-body">
    <div class="row" style="font-weight: bold">
      <div class="col-md-3">Name</div>
      <div class="col-md-3">Direction</div>
      <div class="col-md-2">Oriented Date From</div>
      <div class="col-md-2">Oriented Date To</div>
      <div class="col-md-2">Actions</div>
    </div>
    <hr/>
    <div *ngFor="let ad of ads; let i = index">
      <div class="row">
        <div class="col-md-3">{{ad.name}}</div>
        <div class="col-md-3">{{ad.startPoint.name}}-{{ad.endPoint.name}}</div>
        <div class="col-md-2">{{ad.orientedDateFrom | date:'dd.MM.yyyy'}}</div>
        <div class="col-md-2">{{ad.orientedDateTo | date:'dd.MM.yyyy'}}</div>
        <div class="col-md-2">
          <button class="btn btn-primary" type="button" style="margin: 1px;" routerLink="{{'/ads/ad/' + ad.id}}">Details</button>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>
