<div class="card">
  <div class="card-header">
    <a style="float: left">{{ad.name}}</a>
    <!--<a style="float: right">Owner: {{ad.owner.name}}</a>-->
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ad.startPoint.name}}-{{ad.endPoint.name}}</h5>
    <p class="card-text">Dates: {{ad.orientedDateFrom | date:'dd.MM.yyyy'}}-{{ad.orientedDateTo | date:'dd.MM.yyyy'}}</p>
    <p class="card-text">{{ad.description}}</p>
    <a class="btn btn-primary" routerLink="{{'/ads/ad/' + ad.id}}">Details</a>
  </div>
</div>
