<div class="container-fluid mr-v-5">
  <div class="row justify-content-center">
    <div class="col-md-9 mr-v-5">
      <div class="card">
        <div class="card-header" *ngIf="ad">
          <a style="float: left">{{ad.name}}</a>
          <a *ngIf="ad.owner" style="float: right">Owner: {{ad.owner.name}}</a>
        </div>
        <div class="card-body" *ngIf="ad">
          <h5 class="card-title">{{ad.startPoint.name}}-{{ad.endPoint.name}}</h5>
          <div class="alert alert-success">Distance: {{distance}}km</div>
          <p class="card-text">Status: {{ad.status}}</p>
          <p class="card-text">Dates: {{ad.orientedDateFrom | date:'dd.MM.yyyy'}}-{{ad.orientedDateTo |
            date:'dd.MM.yyyy'}}</p>
          <p class="card-text">{{ad.description}}</p>
          <div *ngIf="ad && ad.choosedRequest && ad.choosedRequest.driver && ad.choosedRequest.driver.id === user.id">
            <h6 class="card-text">Contacts</h6>
            <div *ngFor="let contact of ad.owner.contacts">
              <hr>
              <div class="row mr-h-5">
                <div class="col-md-3">{{contact.type}}</div>
                <div class="col-md-3">{{contact.name}}</div>
                <div class="col-md-3">{{contact.value}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="user && ad.owner && ad.ownerId === user.id">
            <hr>
            <div class="row mr-h-5">
              <button class="btn btn-primary mr-h-5" style="color: white" *ngIf="ad.status !== 'RESOLVED' && ad.status !== 'CANCELED'" routerLink="{{'/ads/update/' + ad.id}}">Update</button>
              <button class="btn btn-warning mr-h-5" style="color: white" *ngIf="ad.status !== 'RESOLVED' && ad.status !== 'CANCELED'" (click)="cancelAd()">Cancel</button>
              <button class="btn btn-success mr-h-5" *ngIf="ad.status === 'REQUEST_ACCEPTED'" (click)="resolveAd()">Resolve</button>
            </div>
          </div>
        </div>
        <div class="card-footer" *ngIf="ad">
          <agm-map
            [latitude]="(ad.startPoint?.latitude + ad.endPoint?.latitude) / 2"
            [longitude]="(ad.startPoint?.longitude + ad.endPoint?.longitude) / 2"
            [zoom]="8"
            [disableDefaultUI]="false"
            [zoomControl]="false">

            <agm-marker
              [latitude]="ad.startPoint?.latitude"
              [longitude]="ad.startPoint?.longitude"
              [label]="ad.startPoint?.label">
            </agm-marker>

            <agm-marker
              [latitude]="ad.endPoint?.latitude"
              [longitude]="ad.endPoint?.longitude"
              [label]="ad.endPoint?.label">
            </agm-marker>

          </agm-map>

        </div>
      </div>
    </div>

    <div class="col-md-7 mr-v-5" *ngIf="user && ad && user.isDriver && user.id !== ad.ownerId && (canCreateRequest || updateOperation) && ad.status === 'OPEN'">
      <div class="card">
        <div class="card-body">
          <form class="createForm" #createRequestForm="ngForm" (ngSubmit)="submitRequest()">
            <div class="form-group">
              <label for="OrientedCost">Oriented cost</label>
              <input type="number" class="form-control" id="OrientedCost" [min]="1"
                     #OrientedCost="ngModel" name="OrientedCost" [(ngModel)]="newRequest.orientedCost">
            </div>

            <div class="form-group" *ngIf="newRequest.orientedCost < 1 || newRequest.orientedCost == null">
              <div class="alert alert-danger" *ngIf="newRequest.orientedCost < 1">
                Cost can not be less than 1.
              </div>
              <div class="alert alert-danger" *ngIf="newRequest.orientedCost == null">
                Cost can only contain digits and '.'(for example 64, 28.3)
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="description">Description</label>
              <textarea class="form-control" rows="2"
                        [(ngModel)]="newRequest.description" id="description"
                        #description="ngModel" maxlength="2047"
                        name="Description"></textarea>
            </div>

            <div class="form-group" *ngIf="description.dirty && description.invalid">
              <div class="alert alert-danger" *ngIf="description.errors.maxlength">
                Description can not be longer than 1023 characters.
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="car">Car</label>
              <select class="form-control" [(ngModel)]="newRequest.car" #car="ngModel" id="car" name="car" required>
                <option *ngFor="let car of user.cars" [ngValue]="car">
                  {{car.makes + ' - ' + car.model}}
                </option>
              </select>
            </div>

            <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block btn-login"
                     [disabled]="createRequestForm.form.invalid || newRequest.orientedCost < 1 || newRequest.orientedCost == null">
              <input type="reset" value="Cancel" class="btn btn-lg btn-danger btn-block btn-login">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-7 mr-v-5" *ngIf="ad && ad.requests">
      <div *ngFor="let req of ad.requests">
        <div class="card">
          <div class="card-header">
            <a style="float: left">{{req.car.makes + ' - ' + req.car.model}}</a>
            <a style="float: right">Owner: {{req.driver.name}}</a>
          </div>
          <div class="card-body">
            <p class="card-text" *ngIf="req.orientedCost">Cost: {{req.orientedCost}}</p>
            <p class="card-text">{{req.description}}</p>
            <div *ngIf="ad && user && ad.owner && ad.ownerId === user.id">
              <h6>Contacts</h6>
              <div *ngFor="let contact of req.driver.contacts">
                <hr>
                <div class="row">
                  <div class="col-md-3">{{contact.type}}</div>
                  <div class="col-md-3">{{contact.name}}</div>
                  <div class="col-md-3">{{contact.value}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer" *ngIf="(user && req.driver && req.driver.id === user.id)  && ad && ad.status === 'OPEN'">
            <button class="btn btn-success"
                    (click)="updateReq(req)">Edit
            </button>
            <button class="btn btn-danger"
                    (click)="removeReq(req)">Remove
            </button>
          </div>
          <div class="card-footer">
            <div *ngIf="(user && ad.owner && ad.ownerId === user.id) && ad && (ad.status === 'OPEN' || ad.status === 'REQUEST_ACCEPTED')" class="float-left">
              <button class="btn btn-success" *ngIf="req.id !== ad.choosedRequestId" (click)="selectReq(req)">Select
                request
              </button>
              <button class="btn btn-danger"
                      *ngIf="req.id === ad.choosedRequestId"
                      (click)="cancelReq(req)">Cancel request
              </button>
            </div>
            <span class="float-right btn btn-outline-success" style="cursor: default" *ngIf="req.id === ad.choosedRequestId">Selected</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
