<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="mr-v-5 col-md-10">
      <div class="card">
        <div class="card-header">
          <h4>Main Information</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Name: {{user.name}}</p>
          <p class="card-text">Last name: {{user.lastName}}</p>
          <p class="card-text">Email: {{user.email}}</p>
        </div>
      </div>
    </div>
    <div class="mr-v-5 col-md-10">
      <app-contact-list [user]="user"></app-contact-list>
    </div>
    <div class="mr-v-5 col-md-10">
      <app-ad-list [user]="user"></app-ad-list>
    </div>
    <div class="mr-v-5 col-md-10" *ngIf="user.isDriver">
      <div class="card">
        <div class="card-header">
          <h4>Driver Information</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Birthday: {{user.birthday | date:'yyyy-MM-dd'}}</p>
          <p class="card-text">Description: {{user.description}}</p>
        </div>
      </div>
    </div>
    <div class="mr-v-5 col-md-10" *ngIf="user.isDriver">
      <app-car-list [driver]="user"></app-car-list>
    </div>

    <div class="mr-v-5 col-md-10" *ngIf="user.isDriver">
      <app-requests-list [driver]="user"></app-requests-list>
    </div>
  </div>
</div>

<!--Adverts-->

<!--requests-->
