<div class="container-fluid">

  <div class="row justify-content-center">
    <h1>{{carMakes.name}}</h1>
  </div>

  <div class="col-md-12">
    <app-car-models-list [models]="carMakes.carModels"></app-car-models-list>
  </div>

</div>
