<div class="card">
  <div class="card-header">
    <h4 class="float-left">Cars</h4>
    <button class="btn btn-outline-primary float-right" (click)="add.show()">Add Car</button>
    <app-modal-window #add>
      <div class="modal-header d-flex justify-content-between align-items-right">
        <h4 class="modal-title">Add car</h4>
        <img class="close-btn" src="assets/icons/close.svg" (click)="add.hide()" alt="">
      </div>

      <div class="app-modal-body">
        <form name="carForm" role="form" (ngSubmit)="add.hide(); submitCar();" #carForm="ngForm">
          <!--<h1>Add car</h1>-->

          <!--public makes: string;-->
          <div class="form-group">
            <label class="form-control-label" for="Makes">Makes</label>
            <select class="form-control" [(ngModel)]="newCar.makes" (change)="loadModels()" id="Makes" name="Makes" required>
              <option *ngFor="let makes of makeses" [ngValue]="makes.name">
                {{makes.name}}
              </option>
            </select>
          </div>

          <!--public makes: string;-->
          <div class="form-group">
            <label class="form-control-label" for="Model">Model</label>
            <select class="form-control" [(ngModel)]="newCar.model" id="Model" name="Model" required>
              <option *ngFor="let model of models" [ngValue]="model.name">
                {{model.name}}
              </option>
            </select>
          </div>

          <!--issueDate: Date-->
          <div class="form-group">
            <label class="" [for]="Issue">Issue Date</label>
            <input type="date"
                   class="form-control" name="Issue"
                   [max]="todayDate | date:'yyyy-MM-dd'"
                   #Issue
                   [ngModel]="newCar.issueDate | date:'yyyy-MM-dd'"
                   (ngModelChange)="setIssueDate($event)" required>
          </div>

          <div class="form-group" *ngIf="(Issue.dirty && Issue.invalid) || isIssueDate()">
            <div class="alert alert-danger" *ngIf="(Issue.dirty && Issue.invalid) &&
                          Issue.errors.required">
              Issue date is required.
            </div>
            <div class="alert alert-danger" *ngIf="isIssueDate()">
              Issue date can not be letter than today.
            </div>
          </div>


          <!--maxCargoVolume: number-->
          <div class="form-group">
            <label for="MaxCargoVolume">Max volume of cargo</label>
            <input type="number" class="form-control" id="MaxCargoVolume" [min]="1"
                   #CargoVolume="ngModel" name="MaxCargoVolume" [(ngModel)]="newCar.maxCargoVolume">
          </div>

          <div class="form-group" *ngIf="isInvalidVolume()">
            <div class="alert alert-danger" *ngIf="newCar.maxCargoVolume < 1">
              Volume can not be less than 1.
            </div>
            <div class="alert alert-danger" *ngIf="newCar.maxCargoVolume == null">
              Volume can only contain digits and '.'(for example 64, 28.3)
            </div>
          </div>

          <!--maxCargoMass: number-->
          <div class="form-group">
            <label for="MaxCargoMass">Max mass of cargo</label>
            <input type="number" class="form-control" id="MaxCargoMass" [min]="1"
                   #MaxCargoMass="ngModel" name="MaxCargoMass" [(ngModel)]="newCar.maxCargoMass">
          </div>

          <div class="form-group" *ngIf="isInvalidMass()">
            <div class="alert alert-danger" *ngIf="newCar.maxCargoMass < 1">
              Volume can not be less than 1.
            </div>
            <div class="alert alert-danger" *ngIf="newCar.maxCargoMass == null">
              Volume can only contain digits and '.'(for example 64, 28.3)
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 col-md-2">
              <input type="submit" value="Create" class="btn btn-success"
                     [disabled]="carForm.form.invalid || isInvalidVolume() || isInvalidMass() || isIssueDate()">
            </div>
            <div class="col-sm-4 col-md-2">
              <input type="reset" class="btn btn-danger" (click)="add.hide()" value="Cancel"/>
            </div>
          </div>
        </form>
      </div>
    </app-modal-window>

  </div>
  <div class="card-body">

    <div class="row" style="font-weight: bold">
      <div class="col-md-5">Makes - Model</div>
      <div class="col-md-3">Issue Date</div>
      <div class="col-md-1">Max Cargo Volume</div>
      <div class="col-md-1">Max Cargo Mass</div>
      <div class="col-md-2">Actions</div>
    </div>
    <hr/>
    <div *ngFor="let car of cars; let i = index">
      <div class="row">
        <div class="col-md-5">{{car.makes + ' - ' + car.model}}</div>
        <div class="col-md-3">{{car.issueDate | date:'yyyy-MM-dd'}}</div>
        <div class="col-md-1">{{car.maxCargoVolume}}</div>
        <div class="col-md-1">{{car.maxCargoMass}}</div>
        <div class="col-md-2">
          <button class="btn btn-danger" type="button" style="margin: 1px;" (click)="submitDeletedCar(i)">Delete</button>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>


