<div class="card">
  <div class="card-header">
    <h4 class="float-left">Requests</h4>
  </div>
  <div class="card-body">
    <div class="row" style="font-weight: bold">
      <div class="col-md-3">Name</div>
      <div class="col-md-3">Direction</div>
      <div class="col-md-2">Oriented Date From</div>
      <div class="col-md-2">Oriented Date To</div>
      <div class="col-md-2">Actions</div>
    </div>
    <hr/>
    <div *ngFor="let request of requests; let i = index">
      <div class="row">
        <div class="col-md-3">{{request.advertisement.name}}</div>
        <div class="col-md-3">{{request.advertisement.startPoint.name}}-{{request.advertisement.endPoint.name}}</div>
        <div class="col-md-2">{{request.advertisement.orientedDateFrom | date:'dd.MM.yyyy'}}</div>
        <div class="col-md-2">{{request.advertisement.orientedDateTo | date:'dd.MM.yyyy'}}</div>
        <div class="col-md-2">
          <button class="btn btn-primary" type="button" style="margin: 1px;" routerLink="{{'/ads/ad/' + request.advertisement.id}}">Details</button>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>
