<div class="container-fluid">

  <div class="row justify-content-center">
    <h1>Create Makes</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
    <form name="carForm" role="form" (ngSubmit)="submit()" #carForm="ngForm">

      <!--model: string-->
      <div class="form-group">
        <label [for]="Model">Model</label>
        <input type="text" class="form-control" name="Makes"
               placeholder="Model name" [(ngModel)]="newCarMakes.name"
               #Model="ngModel" minlength="2" maxlength="50"
               pattern="^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$" required>
      </div>

      <div class="form-group" *ngIf="Model.dirty && Model.invalid">
        <div class="alert alert-danger" role="alert" *ngIf="Model.errors.required">
          Model name is required.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="Model.errors.minlength">
          Model name is required to be at least 2 character.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="Model.errors.maxlength">
          Model name cannot be longer than 50 characters.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="Model.errors.pattern">
          Model name can only contain letters and digits.
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-md-2">
          <input type="submit" value="Create" class="btn btn-success" [disabled]="carForm.form.invalid">
        </div>
        <div class="col-sm-4 col-md-2">
          <a class="btn btn-danger" style="color: #fff" routerLink="/cars/makes">Cancel</a>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
