<div class="card">
  <div class="card-header">
    <h4 class="float-left">Contacts</h4>
    <button class="btn btn-outline-primary float-right" (click)="add.show()">Add Contact</button>
    <app-modal-window #add>
      <div class="modal-header d-flex justify-content-between align-items-right">
        <h4 class="modal-title">Add contact</h4>
        <img class="close-btn" src="assets/icons/close.svg" (click)="add.hide()" alt="">
      </div>
      <div class="app-modal-body">
        <form #addContactForm="ngForm" ngForm="addItemForm">

          <!--type-->

          <div class="form-group">
            <label class="form-control-label" for="type">Type:</label>
            <select name="type" id="type" class="form-control" [(ngModel)]="creatableContact.type" required>
              <option value="PHONE">Phone</option>
              <option value="SKYPE">Skype</option>
              <option value="EMAIL">Email</option>
            </select>
          </div>

          <!--name-->

          <div class="form-group">
            <label class="form-control-label" for="name">Name:</label>
            <input type="text" maxlength="31" class="form-control"
                   id="name" name="name" #name="ngModel" [(ngModel)]="creatableContact.name" required>
            <div *ngIf="name.dirty && name.invalid">
              <small class="form-text text-danger" *ngIf="name.error.maxlength">
                Max length of name must be 31 characters.
              </small>
            </div>
          </div>

          <!--value-->

          <div class="form-group">
            <label class="form-control-label" for="value">Value:</label>
            <input type="text" maxlength="31" class="form-control"
                   id="value" name="value" #value="ngModel" [(ngModel)]="creatableContact.value" required>
            <div *ngIf="value.dirty && value.invalid">
              <small class="form-text text-danger" *ngIf="value.error.maxlength">
                Max length of name must be 31 characters.
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 col-md-2">
              <button [disabled]="addContactForm.form.invalid" class="btn btn-success" (click)="add.hide(); addContact()">
                Add
              </button>
            </div>
            <div class="col-sm-4 col-md-2">
              <button class="btn btn-danger" (click)="add.hide()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </app-modal-window>

  </div>
  <div class="card-body">

    <div class="row" style="font-weight: bold">
      <div class="col-md-3">Type</div>
      <div class="col-md-3">Name</div>
      <div class="col-md-3">Value</div>
      <div class="col-md-3">Actions</div>
    </div>
    <hr/>
    <div *ngFor="let contact of contacts; let i = index">
      <div class="row">
        <div class="col-md-3">{{contact.type}}</div>
        <div class="col-md-3">{{contact.name}}</div>
        <div class="col-md-3">{{contact.value}}</div>
        <div class="col-md-3">
          <button class="btn btn-danger" type="button" style="margin: 1px;" (click)="submitDeletedContact(i)">Delete</button>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>

