/* You can add global styles to this file, and also import other style files */
.mr-v-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mr-h-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.btn-outline-success, .btn-outline-primary {
  background-color: #fff;
}

.btn-outline-primary:hover {
  border-color: #fff;
}

.close-btn {
  max-width: 10px;
  max-height: 10px;
  cursor: pointer;
}
